html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Dancing Script', cursive;
}

p {
  color: rgb(0, 0, 0);
  width: 500px;
}

h1 {
  font-size: 60px;
  text-align: left;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #95b5d3;
  text-shadow: 3px 3px 1px rgba(255, 255, 255, 0);
}

h2 {
  font-size: 60px;
  text-align: left;
}

h3 {
  font-size: 60px;
  text-align: left;
}

p, li {   
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: left
}

html {
  background-color: #234c72;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 30px 20px 20px;
  border: 10px solid #ffffff;
}

img {
  display: block;
  margin: 0 auto;
  text-align: left
}